<template>
    <div class="text">
        {{messages.nome}}
    </div>
</template>

<script>
    export default {
        name: "SocketTest",
        data(){
          return {
              name: null,
              messages: []
          }
        },
        created(){
            let self = this;
            self.getMessages();

            Echo.channel('channelDemoEvent')
                .listen('eventTrigger', (e) => {
                    self.getMessages();
                })
        },
        methods:{
            getMessages(){
                let self = this;
                self.$http.get('/api/messages').then(response => {

                    // get body data
                    this.messages = response.body;

                }, response => {
                    // error callback
                });
            }
        }
    }
</script>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background-color: #e74c3c;
    }
    div#app{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: century-gothic, sans-serif;
        font-size: 120px;
        color: #fff;
    }
</style>
